/* 表单定义-----ielur.com*/
*{
	margin:0;
	padding:0; 
}
li, ul {
	list-style-type:none;
}
body {
	background: #e6f0f5;
	font-family: "宋体",arial,verdana,sans-serif,fantasy,tahoma;
	color:#5d5d5d; font-size: 12px;
	text-align: center;
}
a {
	color: #11658c; text-decoration: underline;
}
a:hover {
	color: #13729e; text-decoration: none;
}
.main { width: 100%; padding-top: 6px; 
}
.main table { border: #cccccc 1px solid; margin: auto; border-collapse: collapse; width: 98%; text-align: center; font-size: 12px;
}
.main table td { padding: 0; border: #cccccc 1px solid; height: 26px;
}
.main-title { height: 24px; width: 100%; background-image: url(../images/forms_table_tit.png); color: #FFFFFF; font-size: 14px; padding-top: 8px;
}
.main-tit td { height: 24px; background-color: #cbdae2; color: #000000;
}
.buttoncss { background: url(../images/table_menu_1.png); width: 40px; height: 20px; border: none; color: #FFFFFF; font-size: 12px; #padding-top: 2px; cursor: pointer;
}
.buttoncss-del { background: url(../images/table_menu_2.png); width: 80px; height: 20px; border: none; color: #FFFFFF; font-size: 12px; #padding-top: 2px; cursor: pointer;
}