<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><!–{$title}–></title>
</head>

<body>
此页面的标题是： <!–{$title}–><br />
此页面测内容是：<!–{$content}–><br />
<br />
测试Smarty数组循环：<!–{$testarray}–><br />
<!–{section name=testas loop=$testarray}–>
<!–{$testarray[testas].step1}–>  <!–{$testarray[testas].step2}–>  <!–{$testarray[testas].step3}–><br />
<!–{/section}–>
</body>
</html>
